/* .container{
    box-sizing: border-box;
} */

.collage1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.collage2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    
}
.main-container{
    /* border:3px solid greenyellow; */
    box-sizing: border-box;
    background-color: rgb(40, 40, 40);
    color: white;
    margin-top: -5px;
    padding-top: 25px;
    padding-left: 4px;
    width: 920px;
    height: max-content;
    margin-left: 320px;
    margin-top: 70px;
    padding-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 3px;
}